body {
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	background-color: ghostwhite;
}

aside {
	float: right;
	max-width: 190px;
	text-align: left;
}

section {
	margin-right: 200px;
}

header {
	text-align: center;
}

td, th {
	padding: 10px;
	text-align: left;
}