* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header, footer {
    background: url('HeaderImage.jpg') top center repeat-x;
    min-height: 75px;
}

h1 {
    font-size: 32px;
    padding-top: 14px;
    padding-left: 16px;
}

h2 {
    font-size: 18px;
    padding-bottom: 14px;
    padding-left: 16px;
}

img {
    padding-top: 6px;
    padding-right: 16px;
    padding-left: 6px;
    border-radius: 50%;
    float: left;
}

body {
    font-family: Century Gothic, sans-serif;
    background-color: #c2ced8;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(255,255,255,0.35);
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8896a0;
}

td, th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    min-width: 70px;
}

tr {
    background-color: #f0f5f5;
}

tr:first-child, td:first-child {
    background-color: #334350;
    color: white;
}

table {
    background-color: #334350;
    margin: 10px;
}

td a:link {
    color: white;
}

td a:visited {
    color: lightgrey;
}